body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.project-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.btn-open {
  border-radius: 20px;
  background-color: #00eeff;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn-open:hover {
  background-color: #13c5d1;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.description {
  color: white;
  max-width: 75%;
}

.techStack-title {
  color: white;
  font-size: 20px;
}

.tech-stack {
  color: white;
}

.links-wrapper {
  display: flex;
  gap: 1rem;
}

.live-demo,
.github-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hidden {
  display: none;
}
