.projects-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 2rem;
}

.project-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-name {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-image {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.project-image:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.project-link {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .projects-container {
    grid-template-columns: auto;
    gap: 2rem;
    justify-content: center;
  }
}
